@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

body {
    background-color: #089992;
}

main {
    width: 50%;
    display: inline-block;
    margin-top: 170px;
    margin-left: 25%;
}

main > div {
    width: 40%;
    float: left;
}

main > img {
    float: right;
    width: 350px;
    height: 350px;
}

.main-title {
    font-size: 80px;
    color: white;
    margin-top: 55px;}

.main-content {
    color: white;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 10px;}

.button {
    background-color: #048389;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: grab;
    text-transform: uppercase;
    margin-top: 40px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.button:hover {
    color: white;
    background-color: #fede3c;}